{% extends 'searcherapp/base.html' %}

{% block content %}
<h1>{{ title}}?</h1>

<p>Что такое - FindWorkUa?
   <p>&nbsp; «FindWorkUa» — это не обычная доска объявлений, а многофункциональный и широкопрофильный портал, задача которого - связать всех IT-работодателей Украины
    со всеми соискателями. Пользователям предоставляется возможность размещения объявлений.
   <p>&nbsp; Постоянные вложения администрации в разработку и повышение посещаемости будут приводить к тому, что FindWorkUa будет рассматриваеться в качестве
    топового портала для размещения объявлений не только тогда, когда речь заходит о привлечении работников, но и в случае предоставления
    начинающим специалистам возможности поделиться с миром своими разработками или же идеями в IT-сфере.
   <p>&nbsp; По таким параметрам как результативность и простота использования FindWorkUa планирует занимать лидирующие позиции в украинском бизнесе,
    так как изначально ориентируется на обычных частных пользователей, которые не имеют ни возможности, ни желания тратить время на
    заполнение большого количества полей.
   <p>&nbsp; Также возможность найти привлекательную вакансию, от позиции начинающего(Intern) до уже серьезного специалиста готового решать тяжелые задачи(Senior).
    Также просмотр вакансии по уровню знания английского языка, не будет лишним, так как на некоторых вакансиях, английский не требуется вовсе,
    что развязывает руки и позволяет написать работадателю людям владениющим английским языком на начальном уровне.
    <br />
    <hr align="center" width="1300" size="2" color="#FFA07A" />
    <br />
<h1 align="center">Что такое - Startup и Что на сайте FindWorkUa означает вкладка - Startup?</h1>
    <p>Что такое - Startup?
    <p>&nbsp; В последние несколько лет такая вещь, как IT-стартапы, стала достаточно популярной и часто обсуждаемой. Однако не всегда и не всеми
        объясняется суть этого понятия.
    <p>&nbsp; В общем понимании, стартапом является любой молодой бизнес, и в англоговорящих странах такое слово используется уже давно. Однако в XXI веке этот термин приобрел айтишный
    оттенок — начали в массовом порядке появляться IT-стартапы. На данный момент в русскоязычных странах словом
    «стартап» именуют новые информационные проекты, созданные с расчетом на быстрый их рост и высокую, вследствие этого, капитализацию.
    <p>&nbsp; Стартапы призваны решать проблемы и задачи, которые со временем становится возможным решить благодаря использованию результатов технического
    прогресса. Или, как говорил основательTwitter’a Исаак “Биз” Стоун, современные высокотехнологичные проекты должны служить одной цели: упрощать
    пользователям любые действия в их повседневной жизни.
    Двигать технический прогресс вперед — не задача стартапера. Действительно, когда мы говорим о стартапах, вряд ли будет упомянута новая перспективная
    компания, разрабатывающая свою революционную архитектуру микропроцессоров или фильтрующие наноматериалы.
    <p>&nbsp;
    <p>Что на сайте FindWorkUa означает вкладка - Startup?

{% endblock %}