{% extends 'searcherapp/base.html'%}

{% block content %}
<h1>{{title}}</h1>
<h3>Страница на которой вы можете оставить обратную связь.</h3>
<h3><p>В ближайшее время с вами обязательно свяжутся.</h3>
<form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
     <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Добавить</button>
</form>

{% endblock %}