{% extends 'searcherapp/base.html'%}

{% block content %}

<h1 style="text-align: center;">{{title}}</h1>
<p class="text-startup">&nbsp;Здесь размещены пользователькие работы специалистов, которые хотят
    показать всему миру свои наработки в области IT. У вас есть возможность
    проявить себя продемонстрировав свои навыки и новаторские идеи
    для того, чтобы превносить в этот мир свои гениальные предложения.<br>
	&nbsp;Само название Startup произошло от английского словосочетания "start up", что в переводе означает — запускать. Стартапом называют только что запущенный проект или тот, что находится в процессе запуска.
	Обязательным условием является наличие бизнес-идеи. При этом, подразумевается, что новый проект испытывает потребность в финансовых средствах для его реализации, продвижения и дальнейшего развития.
	Именно для таких людей которые имеют идею, но не имеют финансовых средств для реализации в полной мере проекта и была создана данная возможность.
    <ul class="list-articles">
	{% for s in startup %}
			<li><div class="article-panel">
	<p class="last">Дата: {{s.time_update|date:"d-m-Y H:i:s"}} </p>
</div>
				<h2>{{s.title}}</h2>
	{% autoescape on %}
	{{s.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ s.get_absolute_url }}">Описание</a></p>
			</li>
	{% endfor %}

</ul>
{% endblock %}